{% extends "layout.html" %}
  
{% block content %}
  <h2>Budget for the day</h2>
  <p>manage your money efficiently, plan your expense in clothing, food, activities and more.</p>
  <div>
  <ul class="budget-list">
    <li class="budget-list-header">
      <span>
        Category
      </span>
      <span>
        Amount
      </span>
      <span>
        &nbsp;
      </span>
    </li>
  {% for item in budget %}
    <li class="budget-list-content">
      <span>
        {{ item.category }}{{ item.firstname }} {{ item.lastname }}
      </span>
      <span>
        {{ item.amount }}{{ item.email }}
      </span>
      <span>
        <a href="/report/{{ item.eid }}" target="_blank">Edit</a>
      </span>
    </li>
  {% endfor %}
  </ul>
  </div>
{% endblock %}
