{% extends "layout.html" %}
 
{% block content %}
  <h2>Expense</h2>
  {% if successed %}
	  Updated
  {% else %}
 
  {% for message in form.categories.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% for message in form.amount.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.description.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
 
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('expense') }}" method=post>
    {{ form.hidden_tag() }}
 
    {{ form.categories.label }}
    {{ form.categories }}
 
    {{ form.amount.label }}
    {{ form.amount }}
 
    {{ form.description.label }}
    {{ form.description }}
  
    {{ form.email.label }}
    
    {% if session.email %}
      {{ session.email }}
      <input name="email" type="hidden" value="{{ session.email }}" />
    {% else %}
      {{ form.email }}
    {% endif %}

    {{ form.submit }}
  </form>
{% endif %}
{% endblock %} 
