{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Budget Planner</h2>
    <a href="#"><h3>view budget for the day</h3></a>
    <span>{{ session }}</span>
  </div>
{% endblock %}
