<!DOCTYPE html>
<html>
  <head>
    <title>Planner</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
	<header>
	  <div class="container">
	    <h1 class="logo">Bplanner</h1>
	    <nav>
	      <ul class="menu">

        <li><a href="{{ url_for('home') }}">Home</a></li>
		      
		      <li><a href="{{ url_for('budget') }}">Budget</a></li>
		      <li>
            <a href="{{ url_for('expense') }}">Expense</a>
          </li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
	      </ul>

	    </nav>
	  </div>
	</header>
   <div class="hd-line"></div>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
