{% extends "layout.html" %}

{% block content %}
<h2>report</h2>
 <form action="/update" method=post>
   <input type="text" name="categories" value="{{ user_expense.category }}">
  <input type="text" name="amount" value=" {{ user_expense.amount }}" />
  <input type="hidden" name="user_id" value=" {{ user_expense.uid }}" />  
  <input type=submit name="Send" />
  </form>

<form action="{{ url_for('expense') }}" method=post>
    {{ form.hidden_tag() }} i
    {{ form.email.label }}
      {{ form.email }}

    {{ form.submit }}
  </form>
{% endblock %}
